@import 'styles/variables';

.buy_button {
    width: 100%;
    max-width: 245px;
    height: 44px;

    border: none;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;

    background-color: $pink;
    color: #FFF;

    font-size: 14px;
    font-weight: 600;
}